/venv/
/Program/emex_parser_19_02_22.exe
/Program/emex_parser_20_02_22.exe
/Program/emex_parser_21_02_22.exe
/Program/emex_parser_22_02_22.exe
/Program/emex_parser_26_01_22.exe
/Program/emex_parser_30_01_22.exe
